build:
  maxIssues: 0
  weights:
    # complexity: 2
    # LongParameterList: 1
    # style: 1
    # comments: 1

complexity:
  active: true
  ComplexMethod:
    active: true
    threshold: 16
  ComplexCondition:
    active: true
    threshold: 5
  LongMethod:
    active: true
    excludes: ['**/test/**', '**/androidTest/**']
  LongParameterList:
    active: true
    ignoreDefaultParameters: true
  TooManyFunctions:
    active: true
    ignoreOverridden: true

style:
  ReturnCount:
    active: true
    max: 5
    excludedFunctions: "equals"
    excludeLabeled: false
    excludeReturnFromLambda: true
  UnusedImports:
    active: true
