name: Validate Gradle Wrapper
on:
  push:
      branches:
      - develop
  pull_request:
    branches: 
      - '*'
  workflow_dispatch:
    branches:
      - '*'

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
    - name: Checkout latest code
      uses: actions/checkout@v3
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
      
