name: Publish Snapshot
on:
  push:
    branches:
      - develop 

jobs:
  publish:
    runs-on: [ubuntu-latest]

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Publish to Maven Local
      run: ./gradlew publishToMavenLocal

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: 'chucker-release-artifacts'
        path: '~/.m2/repository/'

    - name: Publish to the Snapshot Repository
      run: ./gradlew publishReleasePublicationToSnapshotRepository
      env:
        ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY }}
        ORG_GRADLE_PROJECT_SIGNING_PWD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_PWD }}
        ORG_GRADLE_PROJECT_NEXUS_USERNAME: ${{ secrets.ORG_GRADLE_PROJECT_NEXUS_USERNAME }}
        ORG_GRADLE_PROJECT_NEXUS_PASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_NEXUS_PASSWORD }}